__pycache__/
src/__pycache__/
src/login/__pycache__/
src/ui_scripts/__pycache__/
*.pyc
.buildozer/
bin/
*.apk
.DS_Store
site/
build/
.venv311/
.venv310/
.vscode/
dist/
.python-version
setup_buildozer.sh
test.py
build_mac.sh
